@using CashUI
@using CashModel
@inject NavigationManager NavigationManager
@inject IModalService ModalService
@inject IOperationService OperationService
@inject IToastService ToastService
@inject ITableService TableService
@page "/cash"

@if (User.IsloggedIn == false)
{
    <p>not logged in</p>
}
else
{

    <div class="row" id="cash-container">
        <div id='left' class='rounded col-md-8'>
            <LeftContainer OnList1Changed="List1Changed"></LeftContainer>
        </div>

        <div id='right' class='rounded col-md-3 bg-white'>
            <Checkout>
                <OrderItems OnProductRemoved="ProductRemoved" OnPriceReduced="PriceReduced" OnPriceIncreased="PriceIncreased" orderItems="@SelectedTable.orderItems"></OrderItems>
            </Checkout>
            <div id='checkout-container' class="rounded">
                <div id="price-container" class='text-muted'>
                    <p id='subtotal'>Subtotal €@RoundedTotalPrice</p>
                    <p id='discount'>Discount €0</p>
                    <p id='total'>Total €@RoundedTotalPrice</p>
                </div>
                <div id="checkout-buttons-container">
                    <button type="button" @onclick="(() => Checkout())" id="pin-button" class="btn btn-lg  btn-primary shadow-sm checkout-button m-1">Checkout</button>
                    <button type="button" @onclick="@(() => TableSelect())" class="btn btn-lg  btn-primary shadow-sm checkout-button m-1">Tables </button>

                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        @foreach (var item in SelectedTables)
        {
            <button type="button" @onclick="@(() => Activate(item))" class="btn btn-sm btn-primary shadow-sm checkout-button m-1">@item.Id </button>
            <button type="button" @onclick="@(() => CloseTable(item))" class="btn btn-sm btn-primary shadow-sm checkout-button m-1"> Close table</button>

        }
    </div>



}



@code{
    Operation operation = new Operation();
    IEnumerable<Table> tables;
    string Username = User.CurrentUsername;
    public List<OrderItem> CurrentList1 = new List<OrderItem>();
    public List<OrderItem> NewOrderlist = new List<OrderItem>();
    public List<Table> SelectedTables = new List<Table>();
    public Table SelectedTable = new Table();

    public double totalPrice;
    public double RoundedTotalPrice;



    protected override async Task OnInitializedAsync()
    {
        operation.UserId = User.CurrentId;
        CurrentList1 = new List<OrderItem>();
        tables = await TableService.GetTables();
        Table.CurrentTable = 0;

        foreach (var item in tables)
        {
            item.status = Table.Status.Open;
            await TableService.EditTable(item.Id, item);
        }

    }

    [Parameter] public EventCallback<List<OrderItem>> OnList2Changed { get; set; }

    public void Activate(Table table)
    {
        foreach (var item in SelectedTables)
        {
            item.active = false;
        }
        table.active = true;
        Console.WriteLine(table.Id + " is active");
        Table.CurrentTable = table.Id;
        SelectedTable = table;
        RoundedTotalPrice = 0;
        totalPrice = 0;
        Table.CurrentTable = table.Id;


        if (SelectedTable.orderItems == null)
        {
            SelectedTable.orderItems = new List<OrderItem>();


        }
        else
        {
            foreach (var item in SelectedTable.orderItems)
            {

                totalPrice += item.TotalPrice;
                Console.WriteLine(item.TotalPrice);
                RoundedTotalPrice = Math.Round(totalPrice, 2);
            }
        }
    }
    public async Task CloseTable(Table table)
    {
        table.status = Table.Status.Open;
        await TableService.EditTable(table.Id, table);
        SelectedTables.Remove(table);
        if (table.orderItems != null)
        {
            table.orderItems.Clear();
        }
        if(SelectedTable == table)
        {
            table.active = false;
            SelectedTable = new Table();
            Table.CurrentTable = 0;
        }
    }
    public async void List1Changed(OrderItem List)
    {

        Console.WriteLine(List.Product.Name);
        //CurrentList1.Add(List);
        SelectedTable.orderItems.Add(List);
        foreach (var item in CurrentList1)
        {
            Console.WriteLine(item.Product.Name);
        }
        await OnList2Changed.InvokeAsync(SelectedTable.orderItems);
        Product.TotalPrice = 0;
        totalPrice = 0;
        foreach (var item in SelectedTable.orderItems)
        {
            totalPrice += item.TotalPrice;
            RoundedTotalPrice = Math.Round(totalPrice, 2);
        }


    }

    public async void PriceReduced(double PriceReduction)
    {
        totalPrice -= PriceReduction;
        RoundedTotalPrice = Math.Round(totalPrice, 2);
    }
    public async void PriceIncreased(double PriceIncrease)
    {
        totalPrice += PriceIncrease;
        RoundedTotalPrice = Math.Round(totalPrice, 2);
    }
    public async void ProductRemoved(OrderItem orderItems)
    {

        SelectedTable.orderItems.Remove(orderItems);
    }


    public async Task TableSelect()
    {

        bool OrderIsEmpty = (!CurrentList1.Any()) ? true : false;
        Console.WriteLine("is order empty?" + OrderIsEmpty);

        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true
        };
        var parameters = new ModalParameters();
        parameters.Add(nameof(CashUI.TableSelect.orderIsEmpty), OrderIsEmpty);
        var TableModal = ModalService.Show<TableSelect>("Select Table", parameters, options);
        var result = await TableModal.Result;


        if (result.Cancelled)
        {
            Console.WriteLine("damn");
        }
        else
        {
            SelectedTables = (List<Table>)result.Data;
        }
    }
    public async Task Checkout()
    {
        if (SelectedTable.orderItems.Count == 0)
        {
            ToastService.ShowToast(ToastLevel.Info, "Order is empty");

        }
        else
        {

            var parameters = new ModalParameters();
            parameters.Add(nameof(CheckoutModal.orderItems), SelectedTable.orderItems);
            var checkoutModal = ModalService.Show<CheckoutModal>("Checkout", parameters);

            var result = await checkoutModal.Result;


            if (result.Cancelled)
            {
                ToastService.ShowToast(ToastLevel.Info, "Checkout Cancelled");
            }
            else
            {

                CurrentList1 = (List<OrderItem>)result.Data;
                RoundedTotalPrice = 0;
                SelectedTable.orderItems.Clear();
                SelectedTable = new Table();


            }
        }

    }

}
